* {
  box-sizing: border-box;
  font-family: 'Gugi', cursive;
  margin: auto;
}
#top-heading {
	color: red;
	font-weight: bold;
}
li {
	box-sizing: border-box;
	width: 100%;
}
.navbar-brand {
	font-weight: bold;
	font-size: 2.2em;
}
.text-center {
	font-weight: bold;
}
.menu-item {
	background-color: #999999;
}
.menu-item1 {
	background-color: #C3443F;
}
.menu-item2 {
	background-color: #E6D894;
}